#values-div {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.cart-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px;
}

.cart-row .cart-title {
  flex: 1;
  font-size: 2em;
}

#coupons-div {
  display: flex;
  justify-content: center;
}

.coupon-button {
  width: 90px;
  background: #9d9dba;
  border: 2px solid #b9b9b9;
  padding: 10px 10px;
  border-radius: 4px;
  color: white;
  margin: 0em 2em;
}

#remove-coupon-button {
  background: #ff3f3f;
  border: 2px solid #b9b9b9;
  padding: 10px 10px;
  border-radius: 4px;
  color: white;
  margin: 0em 2em;
}

.applied-coupon {
  background: #55556b;
}

#checkout-button {
  margin-top: 2em;
  background: #47dd85;
  border: 2px solid #94dfb9;
  padding: 17px 10px;
  border-radius: 4px;
  color: white;
  margin: 2em;
}

#purchase-message{
  margin: 2em
}
