.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
}
