.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul {
  list-style: none;
}

.product-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px;
}

.product-name {
  flex: 1;
}

.product-row input {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0px;
  align-items: center;
}

.product-row input {
  margin: 5px 0px;
  border: 1px solid #ddd;
  height: 2em;
  width: 5em;
  border-radius: 10px;
  text-align: center;
}

.product-prices {
  flex: 1;
}
